.popup-container{
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: aliceblue;
    padding-bottom: 7px;
}

button{
    cursor: pointer;
}

.more-btn {
    display: none;
}

.hideContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.totalTime{
    font-size: 20px;
    margin: 0;   
}

p {
    margin: 8px 0;
    font-size: 13px
}


.option-group{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    gap: 5px;
}

.option-group button{
    height: 100%;
}
